@import url('colors.css');

* {
    font-family: 'Comfortaa';
    font-size: 12px;
    color: @foreground;
}

#waybar {
    background: transparent;
}

#waybar > box {
    background: @bg-alpha;
    border-radius: 10px;
    padding: 3px 8px;
    border: 3px solid @surface;
}

tooltip {
    background: @background;
}

tooltip label {
    color: @tooltip;
    font-family: 'JetBrains Mono';
    font-size: 12px;
}

#custom-actions, #wireplumber, #memory, #disk, #custom-notifications,
#language, #tray, #clock, #battery, #custom-powermenu {
    padding: 0;
    min-width: 32px;
}

#wireplumber, #memory, #disk,
#tray, #clock, #battery {
    padding: 0 12px;
}

#custom-actions, #custom-notifications,
#custom-powermenu {
    font-family: 'JetBrains Mono Nerd Font Mono';
    font-size: 20px;
}

#mpris {
    padding: 0 12px;
}

#mpris.playing {
    color: @accent;
}

#workspaces button {
    min-width: 14px;
}
