@import url('.config/wofi/colors.css');

* {
    color: @secondary;
    font-family: 'Comfortaa';
    font-size: 16px;
    border: none;
}

window {
    background-color: transparent;
}

#outer-box {
    background-color: @background;
    padding: 0 12px 12px 12px;
    border: 2px solid @surface;
    border-radius: 6px;
}

#input {
    font-size: 0;
    opacity: 0;
}

#entry {
    border-radius: 0;
    padding-right: 12px;
}

#entry:selected {
    background-color: @background;
    padding-right: 8px;
    border-right: 4px solid @accent;
}

#text {
    padding: 8px;
}

#text:selected {
    font-weight: bold;
    color: @foreground;
    background-color: transparent;
}
