// Startup applications.


// Disable client-side window decorations.
prefer-no-csd

// Screenshot path.
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

// Disable hotkey overlay.
hotkey-overlay { skip-at-startup ;}

// Disable primary clipboard (middle-click-paste).
clipboard { disable-primary ;}
