[Desktop Entry]
Name=Record Screen
Comment=Record screen using ffmpeg
TryExec=recordscreen
Exec=recordscreen
Icon=video
Terminal=false
Type=Application
Categories=Video;
Keywords=recording;recordscreen;video;
